<ion-content>

    <div class="brand-logo-container">
        <div>
            <!-- <ion-avatar> -->
            <img src="assets/logo.png" />
            <!-- </ion-avatar> -->
        </div>

    </div>
    <form #form="ngForm">


        <div class="maindiv">
            <div class="inputbox">

                <div class="icondiv">
                    <ion-img src="assets/icon/username.svg"></ion-img>

                </div>
                <div class="inputdiv">

                    <ion-input autocorrect="on" [(ngModel)]="email" name="username" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="text" placeholder="Username" required="true"></ion-input>
                </div>
                <!-- <ion-label color="primary" position="floating">Name</ion-label> -->
            </div>
            <div class="inputbox">
                <div class="icondiv" style="padding-inline: 15px">
                    <ion-img src="assets/icon/password.svg"></ion-img>

                </div>
                <div class="inputdiv">

                    <ion-input autocorrect="on" name="password" [(ngModel)]="password" autofocus="on" type="password" clearInput="true" clearOnEdit="true" inputmode="password" placeholder="Password" required="true">
                    </ion-input>
                </div>
                <!-- <ion-label color="primary" position="floating">Name</ion-label> -->
            </div>
            <ion-row>
                <ion-col size="12">
                    <div class="btn-width">
                        <ion-button (click)="login(form)" style="width: 282px;" [disabled]="form.invalid" color="dark" expand="block" shape="round">
                            <ion-text color="">
                                <b>

                                    Login
                                </b>
                            </ion-text>
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="bottom-img-container">
                        <ion-img src="assets/images/bottomImg.jpg"></ion-img>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </form>




    <!-- <ion-img src="assets/building.png"></ion-img> -->
</ion-content>