.brand-logo-container {
    background: #C4C4C4;
    border-radius: 0px 0px 0px 75px;
    min-width: 360px;
    min-height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-item {
    border-radius: 25px !important;
    --background: #f2f2f2;
    --border-color: #F00;
    --color: #bcbcbc
}

.iconColor {
    fill: #f2f2f2
}

.inputbox {
    display: flex;
    flex-direction: "row";
    border: 1px solid black;
    margin-top: 12px;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    border-radius: 25px;
}

.inputdiv {
    display: flex;
    flex: 1;
}

.btn-width {
    width: 60%;
    margin-top: 8px;
}

.btn-font {
    font-weight: bold;
}

.icon-img {
    padding-inline: 16px;
    margin-inline: -9px;
}

.icondiv {
    display: flex;
}

.maindiv {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 720px) {
    .brand-logo-container {
        background: #C4C4C4;
        border-radius: 0px 0px 0px 75px;
        min-width: 360px;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bottom-img>img {
        width: 80% !important;
        justify-content: center;
        display: flex;
    }
    .maindiv {
        display: flex;
        justify-content: center;
        //  padding-top: 18px;
        flex-direction: column;
        align-items: center;
    }
}